*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#container {
    width: 1200px;
    height: 750px;
    margin: auto;
}

body{
    font-family: 'Helvetica';
    font-weight: 300;
    background:rgb(166,196,212); 
    color: rgb(255, 255, 255);
}

#container header {
    border: solid 3px rgb(240, 236, 236);
    width: 1200px;
    height: 150px;
    border-radius: 20px;
    margin: 20px auto;
}

#container h1{
    text-align: center;
    margin-top: 50px;
}

#container h2{
    margin-top: 7%;
}

#container main{
    width: 100%;
    padding: 20px 0; 
    margin-right:auto;
	display: flex;
	flex-wrap: wrap;
}
#container main .content{
	width: 50%;
	padding: 0 10px;
}

#container section h2{
	color: #a6c4d4;
	background-color: aliceblue;
	padding: 10px;
	font-size: 25px;
	margin-bottom: 30px;
}

#container section {
    font-size: 18px;
    color: rgb(250, 246, 246);
	line-height: 40px;
	padding-bottom: 20px;
}
#container section p{
	padding: 0 10px;
}

#container01{
	width: 100%;
}

#container footer {
    width: 100%;
    height: 100px;
    margin-top: 30px;
    text-align: center;
	display: flex;
}

#container footer a {
	display: block;
	width: 50%;
    color: rgb(255, 255, 255);
    font-size: 17px;
    text-decoration: none;
    padding: 10px 20px 12px 20px;
}

body {
	font-family:'Lucida Sans';
	box-sizing: border-box;
	background-color: #9ba0bd;
}

#user {
	width: 1250px;
	margin: 0 auto;
	border: 5px solid #fff;
	padding: 20px 50PX;
	background-color: #fff;
	padding: 40PX;
}

#userbody h1 {
	font-family: Georgia;
	color: #000;
	text-align: center;
	padding: 40PX;

}
#userbody h2{
	font-family: 'Georgia';
	margin-bottom: 20px;
}
#user section {
	display: flex;
	margin: 50px 0;
	overflow: hidden;
	color: #000;
	background-color: #fff;
	background-color: #dbd2e3;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	position: relative;
}

.left {
	width: 50%;
	padding: 40px 40PX;
}

.right {
	width: 25%;
	height: 350px;
	overflow: hidden;
	position: absolute;
	right: 0;
}
.right img{
	width: 100%;
}
#ref{
	display: block;
	width: 100%;
	padding: 40px;
	flex-wrap: wrap;
}
